<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>{{selectedRecipe.name}}</h3>
    </div>
    <img src="{{selectedRecipe.imgUrl}}" alt="" srcset="">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group"  appDropdownDirective>
            <button 
            class="btn btn-primary dropdown-toggle"
             type="button">
            Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="addToShoppingList()">Add to shop list</a></li>
                <li><a [routerLink]="['edit']">Edit recipe</a></li>
                <li><a (click)="deleteRecipe()">Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{selectedRecipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
           <li class="list-group-item" *ngFor="let ing of selectedRecipe.Ingredients">
            {{ing.name}} {{ing.amount}}
           </li>
        </ul>
    </div>
</div>
